$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

@import 'bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Space out content a bit */
body {
    padding-top: 20px;
    padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}

/* Custom page header */
.header {
    border-bottom: 1px solid #e5e5e5;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
}

.section {
  margin: 20px 0px;
}

/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
    margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
    background-image: url(jack.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100%;
    max-width: 700px;
    width: 200px;
    height: 100px;
    /* Standard syntax */
    animation-name: shrink;
    animation-duration: 2s;
    animation-timing-function: ease;
    animation-delay: 2s;
    animation-iteration-count: 1;
    animation-direction: alternate;
    animation-play-state: running;
    -webkit-animation-name: shrink;
    -webkit-animation-duration: 2s;
    -webkit-animation-timing-function: ease;
    -webkit-animation-delay: 2s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-direction: alternate;
    -webkit-animation-play-state: running;
}


@keyframes shrink
{
from {
width: 100%;
height: 417px;
}
to {
width: 200px;
height: 100px;
}
}

@-webkit-keyframes mymove /* Safari and Chrome */
{
from {
width: 100%;
height: 417px;
}
to {
width: 200px;
height: 100px;
}
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

/* Supporting marketing content */
.subsection {
  background-color: #FFFFF0;
  border-radius: 20px;
  padding: 10px;
  margin: 10px;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
}

.marketing {
    margin: 40px 0;
}

.marketing p + h4 {
    margin-top: 28px;
}

[ng-class='subsection'] {
  font-size: 14px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .container {
        max-width: 730px;
    }

    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }
    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }
    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
        margin: 0px 12px;
    }
}
@media screen and (max-width: 768px) {
  .jumbotron {
      margin: 10px;
  }
  .marketing {
      margin: auto;
  }
}
